build/*/.vagrant
share/opensvc/rpms/20*
cache.7
cache.8
*.log
share/opensvc/rpms/*.*
!share/opensvc/rpms/*.rpm.bash
share/opensvc/opensvc.dev
share/opensvc/opensvc.git
pool
vagrant_home
*/*/vdc.nodes*
*/*/vdc.env
*/*/ssh_config
*/*/Vagrantfile.libvirt
share/cni/weave*
share/cni/*.tgz
build/common/gen.ssh.user.config.sh
build/common/playbooks/*.retry
share/nfspool
share/repos
share/opensvc/deb/*.*
!share/opensvc/deb/repo.update.deb.bash
share/opensvc/demo/python.buster.docker.image.tar
share/opensvc/pyconfr/python.buster.docker.image.tar
build/*/labdemo-volatile/
share/solaris/repo/
share/solaris/repo-solarisstudio/
