[DEFAULT]
nodes = {clusternodes}
topology = flex
flex_min_nodes = {#nodes}
orchestrate = ha
placement = shift
docker_daemon_private = False
scale = 4

[ip#0]
type = cni
network = weave
container_rid = container#0

[container#0]
type = docker
run_image = redis:latest
run_args = --net=none -i -t
hostname = redis
